<h1>Editing contribution</h1>

<% form_for(@contribution) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :original_text %><br />
    <%= f.text_area :original_text %>
  </p>
  <p>
    <%= f.label :translated_text %><br />
    <%= f.text_area :translated_text %>
  </p>
  <p>
    <%= f.label :member_id %><br />
    <%= f.text_field :member_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @contribution %> |
<%= link_to 'Back', contributions_path %>