<h1>Listing sittings</h1>

<table>
  <tr>
    <th>Sat on</th>
    <th>Location</th>
  </tr>

<% @sittings.each do |sitting| %>
  <tr>
    <td><%=h sitting.sat_on %></td>
    <td><%=h sitting.location %></td>
    <td><%= link_to 'Show', sitting %></td>
    <td><%= link_to 'Edit', edit_sitting_path(sitting) %></td>
    <td><%= link_to 'Destroy', sitting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sitting', new_sitting_path %>