<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= @page_title %><%= " - " unless @page_title.blank? %>TheyWorkFor.EU</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />
</head>
<body>
<div id="header">
  <div id="logo">
    <h1><a href="/">TheyWorkFor.EU</a></h1>
    <p>Making the proceedings of the European Parliament more accessible.</p>
  </div>
  <!-- end #logo -->
  <div id="menu">
    <ul>
      <li class="first"><a href="/">Home</a></li>
      <li><%= link_to 'Members', members_path %></li>
      <li><%= link_to 'Sittings', sittings_path %></li>
    </ul>
  </div>
  <!-- end #menu -->
</div>
<!-- end #header -->
<div id="page">
  <div id="content">

    <%= yield %>

  </div>
  <!-- end #content -->
  <div id="sidebar">
      <ul>
        <li id="search">
          <h2>Search</h2>
          <form method="get" action="">
            <fieldset>
            <input type="text" id="s" name="s" value="" />
            <input type="submit" id="x" value="Search" />
            </fieldset>
          </form>
        </li>
        <li>
          <%= render 'sittings/recent.html.erb' %>
        </li>
        <li>
          <h2>Members who recently ate olives</h2>
          <ul>
            <li><a href="#">Damian Hannan</a> (3 hours ago)</li>
            <li><a href="#">Magna lacus bibendum mauris</a></li>
            <li><a href="#">Velit semper nisi molestie</a></li>
            <li><a href="#">Eget tempor eget nonummy</a></li>
            <li><a href="#">Nec metus sed donec</a></li>
            <li><a href="#">Magna lacus bibendum mauris</a></li>
            <li><a href="#">Velit semper nisi molestie</a></li>
          </ul>
        </li>
      </ul>
  </div>
  <!-- end #sidebar -->
  <div style="clear: both;">&nbsp;</div>
</div>
<!-- end #page -->
<div id="footer">
  <p>Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
