<h1><%= @page_title = 'European Parliament Members' %></h1>

<div class="flickr_pagination">
<% used_letters = Member.all_sorting_letters
('A'..'Z').each do |letter| %>
  <% if used_letters.include?(letter) %>
  <a href="#<%= letter.downcase %>"><%= letter %></a>
  <% else %>
  <span class="disabled"><%= letter %></span>
  <% end %>
<% end %>
</div>

<%
prev_chr = nil
@members.each do |member| %>
  <% if prev_chr != member.sorting_letter %>

  <% if prev_chr %>
  </div>
  <br clear="both" />
  <% end %>

  <h3 class="photoList"><a name="<%= member.sorting_letter.downcase %>"></a><%= member.sorting_letter %></h3>
  <div class="photoList">
  <% end %>
  <% prev_chr = member.sorting_letter %>
  <div class="photoListMember">
    <% country = h(Country.expand(member.country)) %>
    <%= link_to image_tag(member.photo, :class=>'headshot'), member %>
    <%= image_tag(member.flag_path, :alt=>country, :title=>country, :class=>'flag') %>
    <%= link_to h(member.name), member %>
    <span class="photoListMemberGroup"><%= link_to h(member.group), '#' %></span>
  </div>
<% end %>
</div>
