<p>
  <b>Name:</b>
  <%=h @member.name %>
</p>

<p>
  <b>Party:</b>
  <%=h @member.party %>
</p>

<p>
  <b>Photo:</b>
  <%=h @member.photo %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>